<h1> Home page </h1>
<h2> Hello <%= session[:current_user]["name"]%> </h2>
<Input id="logout" type="button" class="btn btn-danger" value="Logout" />

<script>
$(document).ready(function() {
$("#logout").click(()=>{
    firebase.auth().signOut()
      .then(function() {
        $.get("/logout", () => {
          window.location.replace("/")
        })
        
      })
      .catch(function(error) {
      })
})
  
})
</script>