<div class="container">
<div class="wrapper">

  <form id="loginForm" style="width:40%; margin:0 auto;">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>
   
    <button class="btn btn-primary mb-3" type="submit">Log in</button>

    <div>
    <%= link_to "Sing up", new_authentication_path %>
    </div>

  </form>

</div>
</div>

<%= javascript_include_tag 'auth.js' %>